@model frontend_mvc_two.Models.PersonDetails

<h2>Person Details</h2>
@Html.DisplayNameFor(m => m.Name):@Html.DisplayFor(m => m.Name)
<br/>
@Html.DisplayNameFor(m => m.Age):@Html.DisplayFor(m => m.Age)
<br/>
<p>Updated at @DateTime.Now.ToLongTimeString()</p>